---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.post-content {
    text-align: justify;
}


.site-logo {
  width: 32px;   /* or 48px depending on your design */
  height: auto;  /* keep aspect ratio */
}

#main {
  display: flex;
  gap: 30px; /* spacing between sidebar and content */
}

/* Sidebar: fixed width */
.sidebar {
  flex: 0 0 200px; /* don’t shrink, fixed ~280px */
}

/* Content area: take remaining space */
.archive,
.post-content,
.page__content {
  flex: 1;              /* grow into available space */
  max-width: none;      /* remove narrow max-width */
  width: auto;          /* let flexbox decide */
}

body {
    font-size: 0.9em; /* 90% of the default size */
    line-height: 1.5; /* adjust for readability */
}
